body {
  font-family: Arial;
  font-size: 15px;
  background: #f4f4f4;
  color: #666;
}

.logo {
  text-align: center;
  margin: auto;
  display: block;
}

.container {
  width: 750px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 20px;
  border-top: 3px solid #83cd29;
}

.clr {
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin-bottom: 0;
  padding: 5px 0;
}

p {
  margin: 0;
}

a {
  /*color: #00B7FF;*/
  color: #404137;
  text-decoration: none;
}

nav {
  background: #404137;
  color: #fff;
  overflow: auto;
  height: 40px;
  padding: 20px 0 0 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

nav li {
  float: left;
  list-style: none;
}

nav a {
  margin: 0 10px;
  padding: 10px;
  color: #fff;
}

nav a.current, nav a:hover {
  background: #83cd29;
  color: #000;
}

.meta {
  padding: 7px;
  border: 1px solid #ccc;
  background: #ccc;
}

a.more {
  display: block;
  width: 80px;
  background: #404137;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.post img {
  width: 100%;
}

label {
  display: inline-block;
  width: 180px;
}

input, select, textarea {
  margin-bottom: 15px;
}

input[type='text'],input[type='email'], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px solid #ccc;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 400px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  list-style: none;
}

.alert-danger {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

ul.success li {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  list-style: none;
}

footer {
  margin-top: 20px;
  text-align: center;
  height: 30px;
  border-top: 1px solid grey;
}

.comment-form {
  margin: 30px 0;
}

.comment {
  background:  #ccc;
  padding: 5px;
  border: #666 solid 1px;
  margin: 15px 0 20px;
}

.comment-name {
  font-weight: bold;
}