extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lacus sed faucibus sodales. Suspendisse interdum elit a augue vulputate sodales. Quisque id mattis nibh. Vestibulum nec suscipit dui. Vivamus laoreet odio vel massa suscipit hendrerit. Fusce interdum velit euismod justo ultrices imperdiet. Ut mattis justo est, a faucibus lacus suscipit congue.
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lacus sed faucibus sodales. Suspendisse interdum elit a augue vulputate sodales. Quisque id mattis nibh. Vestibulum nec suscipit dui. Vivamus laoreet odio vel massa suscipit hendrerit. Fusce interdum velit euismod justo ultrices imperdiet. Ut mattis justo est, a faucibus lacus suscipit congue.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lacus sed faucibus sodales. Suspendisse interdum elit a augue vulputate sodales. Quisque id mattis nibh. Vestibulum nec suscipit dui. Vivamus laoreet odio vel massa suscipit hendrerit. Fusce interdum velit euismod justo ultrices imperdiet. Ut mattis justo est, a faucibus lacus suscipit congue.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lacus sed faucibus sodales. Suspendisse interdum elit a augue vulputate sodales. Quisque id mattis nibh. Vestibulum nec suscipit dui. Vivamus laoreet odio vel massa suscipit hendrerit. Fusce interdum velit euismod justo ultrices imperdiet. Ut mattis justo est, a faucibus lacus suscipit congue.
                a.btn.btn-default(href='#') View Details